@import '../../variables.scss';

.main-body{
    width: 100%;
    height: 100vh;
    background-color: #151515;
    overflow-y: scroll;
    padding-bottom: 80px;
}

.body-option{
    width: 100%;
    padding: 30px 32px;

    & > div {
        display: flex;
        flex-direction: row;
    }
}

.section-title{
    font-weight: 700;
    font-size: 1.5rem;
}