@import 'variables';

.login{
    display: grid;
    place-items: center;
    margin-top: 100px;
    
}

.logo-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 25px 100px;
}

.logo-title{
    font-size: 3.5em;
    margin: auto 15px;
}

.login-btn{
    display: grid;
    place-items: center;
    width: 50%;
    color: $text-color;
    text-decoration: none;
    margin: 20px auto;
    padding: 10px;
    background-color: $secondary-color;
    border-radius: 22px;
    font-weight: 700;
}