@import '../../variables.scss';

.track{
    margin: 20px 20px 20px 0;
    padding: 16px;
    border-radius: 8px;
    background-color: lighten($color: #151515, $amount: 3);
    position: relative;

    & > img{
        width: 180px;
        box-shadow: 0 8px 24px rgba(0,0,0,0.5);
        border-radius: 4px;      
    }

    &-data{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 175px;
        padding: 15px 0;

        & > p{
            margin: 8px 0;
            font-size: .9em;
            color: $secondary-text-color;
        }
    }

    &:hover{
        transition: background-color .3s ease;
        background-color: lighten($color: #151515, $amount: 6);
        .play-button{
            transition: .5s ease;
            opacity: 100%;
            top: 40%;
        }
    }
   
}

.play-button{
    cursor: pointer;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 70%;
    background-color: lighten($secondary-color, $amount: 3);
    color: #151515;
    padding: 15px;
    border-radius: 50%;
}
