@import '../../variables.scss';

.side-bar{
    position: relative;
    width: 25%;
    padding: 30px 25px;
    height: 100vh;
    background-color: #040404;
    text-overflow: ellipsis;
}

.option{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 3px;
    color: $secondary-text-color;
    text-decoration: none;
    @include hoverToColor;

    &-title{
        display: flex;
        align-items: center;
        margin: 15px 0;
        color: $secondary-text-color;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
        @include hoverToColor;
    }

    &:target{
        background-color: red
    }
}

.title{
    margin-left: 10px;
}

.spotify-logo{
    @extend .option;
    margin: 0 0 20px 0;
    color: $text-color;
}

.spotify-title{
    @extend .option-title;
    font-size: 1.5em;
    cursor: initial;
    color: $text-color;
    margin-left: 5px;
}

.side-bar-options > hr {
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
}

.playlists{
    color: $secondary-text-color;

    &::before{
        content: "";
        display: block;
        background-color: $secondary-text-color;
        width: 95%;
        height: 2px;
    }

    &-options-container{
        margin: 5px 0;
        height: 200px;
        cursor: pointer;
        overflow-y: auto;
    }

    &-option{
        color: $secondary-text-color;
        text-decoration: none;
        @include hoverToColor;
    }

    &-name{
        padding: 5px 0;
        font-size: .9em;
    }
}