@import '../../variables.scss';

.data-container{
    width: 100%;   
}

.playlist-subcontainer{
    background-color: rgb(72, 32, 176);
    background-image: linear-gradient(rgb(72, 32, 176), $primary-color);
}

.playlist-data{
    display: flex;
    width: 100%;
    padding: 24px 32px; 
    align-items: flex-end;
}

.playlist-img{
    width: 232px;
    height: 232px;
    box-shadow: 0 4px 60px rgba(0,0,0,0.5);
    margin-right: 24px;
}

.list{
    &-type{
        font-size: 0.8em;
        font-weight: 700;
    }

    &-name{
        font-size: 3rem;
        margin: 0.08em 0 0.12em;
    }

    &-info{
        display: flex;
        align-items: center;
    }

    &-owner{
        font-weight: 800;
    }

    &-time{
        margin-left: 20px;
        color: $secondary-text-color;
    }
}


.points{
    margin: auto 4px;
    font-weight: 800;
}

.buttons-container{
    display: flex;
    align-items: center;
    padding: 24px 32px;
}

.playlist-play{
    background-color: lighten($secondary-color, $amount: 3);
    color: #151515;
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 50%;
    margin-right: 32px;
}

.playlist-heart{
    margin-right: 32px;
}

.heart{
    color: $secondary-color;
}

