@import './components/Login/Login.scss', 'variables';

.App{
  background-color: $primary-color;
  color: $text-color;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  
}

::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-track{
  background: $primary-color;
  border: none;
}

::-webkit-scrollbar-track-piece{
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: rgba(255, 255, 255, 0.13);

  &:hover{
    background-color: lighten($color: rgba(255, 255, 255, 0.13), $amount: 1);

    &:active{
      background-color: lighten($color: rgba(255, 255, 255, 0.13), $amount: 3);
    }
  }

  
}





