@import './components/Login/Login.scss', 'variables';

.App{
  background-color: $primary-color;
  color: $text-color;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  
}

.player-container{
  width: 100%;
  display: block;
}



